<div class="loading" *ngIf="isLoader; else showData">Loading...</div>

<ng-template #showData>
    <h2>customer data</h2>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Customer ID</th>
          <th>Pack Data</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{ customer.customer_id }}</td>
          <td>
            <table class="inner-table">
              <thead>
                <tr>
                  <th>Ingredient</th>
                  <th>Inventory Code</th>
                  <th>Quantity</th>
                  <th>Unit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pack of customer.pack_data">
                  <td>{{ pack.ingredient }}</td>
                  <td>{{ pack.inventory_code }}</td>
                  <td>{{ pack.quantity }}</td>
                  <td>{{ pack.unit }}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="error" class="error-message">{{ error }}</div>
  </div>
</ng-template>
